.nv-post-cover .nv-page-title-wrap-wrap .nv-page-title {display:none; }
.nv-page-title-wrap .nv-page-title {display:none; }
.nv-post-cover .nv-title-meta-wrap, .nv-page-title-wrap, .entry-header {
    display:none; }
    


    